* {
  box-sizing: border-box;
}

.top-page-header {
  height: 80px;
  min-width: 1200px;
  display: flex;
  border-bottom: 1px solid #ddd;
}

.search-bar-contents {
  display: flex;
  align-items: center;
}

.header-icon {
  width: 42px;
  height: 45px;
  margin-left: 30px;
}

.header-rogo {
  width: 180px;
  height: 45px;
  margin: 7px 80px 0 3px;
}

.nav {
  display: flex;
  font-size: 16px;
  margin-left: auto;
  margin-right: 20px;
}

.header-new-dish {
  margin-top: 15px;
  margin-right: 60px;
}

.puls-btn {
  height: 50px;
  width: 54px;
}

.header-lists {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
}

#menu {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
  padding: 10px 18px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: white;
  margin-right: 13px;
  cursor: pointer;
}

#menu:hover {
  border: 1px solid #eee;
  border-radius: 30px;
  background-color: #eee;
}

.show-lists{
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  top: 80px;
  right: 85px;
}

.hidden{
  display: none;
}

.pull-down-list{
  padding: 13px 0 13px 20px;
  cursor: pointer;
  background-color: #ffffff;
}

.pull-down-list:hover {
  background-color: #eee;
}

.menu-link {
  text-decoration: none;
  color: black;
  display: block;
}

#user-name {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 18px;
  border: 1px solid #ff333f;
  border-radius: 30px;
  background-color: #ff333f;
  cursor: pointer;
}

#user-name:hover {
  opacity: 0.7;
}

.user-lists{
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  top: 80px;
  right: 10px;
}

.login {
  text-decoration: none;
  margin-right: 10px;
  color: #222222;
  font-weight: bold;
  padding: 12px 16px;
}

.login:hover {
  border: 1px solid #eee;
  border-radius: 30px;
  background-color: #eee;
  padding: 12px 15px;
}

.sign-up {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
  padding: 12px 16px;
}

.sign-up:hover {
  border: 1px solid #eee;
  border-radius: 30px;
  background-color: #eee;
  padding: 12px 15px;
}


/* 検索フォーム */
#search-form-wrapper {
  display: flex;
  padding-top: 15px;
  margin-right: auto;
}

#dish-name-search {
  height: 50px;
  width: 170px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
  color: #222222;
  font-size: 15px;
  font-weight: 545;
  margin-right: 15px;
}

#dish-name-search:hover {
  background-color: #ddd;
}

#material-search {
  height: 50px;
  width: 170px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
  color: #222222;
  font-size: 15px;
  font-weight: 545;
}

#material-search:hover {
  background-color: #ddd;
}

#name-search-form {
  display: flex;
}

#material-search-form {
  display: flex;
}

.search-field {
  width: 400px;
  height: 46px;
  padding: 7px 5px 5px 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 15px;
  resize: none;
  margin-top: 3px;
}

.search-btn {
  margin-left: 10px;
  height: 44px;
  width: 60px;
  cursor: pointer;
  font-size: 15px;
  background: #33CCFF;
  border: 1px solid #33CCFF;
  border-radius: 3px;
  margin-top: 4px;
  color: #fff;
  font-weight: bold;
}

.search-btn:hover {
  opacity: 0.8;
}