<%= render "shared/header2" %>

<div class="user-show-wrap">
  <div class="user-show-top">
    <div class="user-name"><%= @user.nickname %></div>
    <div class="visit-user-edit"><%= link_to 'ユーザー情報編集', edit_user_registration_path, class: "user-edit_link" %></div>
  </div>
  <div class="user-show-main">
  </div>
</div>