.detail-wrapper {
  height: calc(100vh - 80px);
  padding: 60px 7vw 100px 7vw;
}

.detail-top {
  display: flex;
}

.detail-dish-name {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.dish-edit {
  margin-left: 45px;
  margin-top: 10px;
}

.dish-edit_link {
  font-size: 17px;
  text-decoration: none;
  color: #222222;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #eee;
  padding: 10px 10px;
}

.dish-edit_link:hover {
  border: 1px solid #aaa;
  background-color: #ddd;
}

.detail-dish-url-wrap {
 margin-left: auto;
}

.detail-dish-url {
  height: 35px;
  width: 35px;
}




.detail-main {
  
}

