.detail-wrapper {
  padding: 70px 8vw 170px 8vw;
  background-color: #f8f8f8;
}

.detail-top {
  display: flex;
  margin-bottom: 70px;
}

.detail-dish-name {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-right: 45px;
}

.detail-dish-url-wrap {
  margin-top: 10px;
  margin-right: 20px;
}

.detail-dish-url {
  height: 35px;
  width: 35px;
}

.dish-url_link {
  font-size: 17px;
  text-decoration: none;
  color: #222222;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #eee;
  padding: 10px 10px;
}

.dish-url_link:hover {
  background-color: #ddd;
}

.dish-edit {
  margin-top: 10px;
}

.dish-edit_link {
  font-size: 17px;
  text-decoration: none;
  color: #222222;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #eee;
  padding: 10px;
}

.dish-edit_link:hover {
  background-color: #ddd;
}

.detail-main {
  display: flex;
}

.dish-image-wrap {
  text-align: center;
}

.dish-image {
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 8px gray;
}

.no-image {
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 8px gray;
  width: 650px;
  height: 450px;
  object-fit: cover;
}

.detail-materials-wrap {
  margin-left: 7vw;
  margin-bottom: 150px;
  height: 450px;
  width: 460px;
  min-width: 430px;
  padding: 40px 0 60px 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 8px gray;

  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.detail-materials-wrap::-webkit-scrollbar {
  display:none;
 }

.detail-materials {
  width: 250px;
}

.detail-materials-top {
  display: flex;
  height: 45px;
  margin-bottom: 8px;
  margin-left: 20px;
}

.detail-materials-header {
  font-size: 25px;
  font-weight: 550;
  line-height: 45px;
  margin-left: 10px;
}

.detail-materials-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.detail-material_li {
  height: 38px;
  font-size: 17px;
  padding-left: 13px;
  list-style: none;
  width: 100%;
}

.detail-material_li:hover {
  border-radius: 6px;
  background-color: #ADD8E6;
}

.detail-material_li_sub {
  height: 38px;
  font-size: 18px;
  padding-left: 13px;
  color: #222222;
  line-height: 38px;
}

.detail-material-search_link {
  text-decoration: none;
  color: #222222;
  line-height: 38px;
  display: block;
}

.detail-material-d_li {
  list-style: none;
  margin-right: 7px;
  margin-top: 7px;
}

.detail-material-border {
  width: 350px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  margin-left: 20px;
}

.detail-bottom {
  display: flex;
}

.detail-log {
  padding-left: 6vw;
}

.visit-new-cook {
  margin-bottom: 60px;
}

.new-cook_link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border: 1px solid #555555;
  border-radius: 30px;
  background-color: #555555;
  padding: 20px 30px;
  box-shadow: 0 0 8px gray;
}

.new-cook_link:hover {
  opacity: 0.7;
}

.cook-count-wrap {
  width: 500px;
  min-width: 500px;
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  padding: 30px 40px;
  box-shadow: 0 0 8px gray;
  margin-bottom: 50px;
}

.cook-count {
  font-size: 60px;
  font-weight: bold;
  margin: 0 20px;
}

.ex {
  font-size: 20px;
  margin-top: 40px;
}

.last-cook-wrap {
  width: 500px;
  min-width: 500px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  padding: 30px 40px;
  box-shadow: 0 0 8px gray;
}

.blank-space {
  width: 500px;
  height: 150px;
  min-width: 500px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 8px gray;
}

.last-cook-main {
  display: flex;
}

.last-cook {
  font-size: 60px;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 25px;
}

.all {
  margin-left: 7vw;
}

.all-top {
  color: white;
  font-size: 20px;
  border: 1px solid #555555;
  border-radius: 30px;
  background-color: #555555;
  padding: 20px 30px;
  box-shadow: 0 0 8px gray;
}

.all-dates {
  margin-top: 60px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 8px gray;
  background-color: white;
  padding: 50px 60px 40px 70px ;
  width: 500px;
  height: 355px;

  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.all-dates::-webkit-scrollbar {
  display:none;
 }

.all-date {
  font-size: 18px;
  letter-spacing: 4px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 7px;
  margin-bottom: 20px;
  padding-left: 10px;
}