.index-wrapper {
  display: flex;
  min-width: 1300px;
  background-color: #ADD8E6;
  height: calc(100vh - 80px);
}

.index-main-wrapper {
  height: 100%;
  padding: 45px 0 0 3vw;
}

.index-main {
  height: 93%;
  width: 545px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: white;
  padding: 30px 55px 50px 55px;
  box-shadow: 0 0 8px gray;
  
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.index-main::-webkit-scrollbar {
  display:none;
 }

.main-genre {
  display: flex;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #222222;
}

q {
  font-size: 23px;
  margin-top: 8px;
}

.dishes-count {
  font-size: 23px;
  margin: 7px 0 0 50px;
  font-weight: 500;
  color: #222222;
}

.dish-border {
  width: 400px;
  border-bottom: 1px solid #ccc; 
  margin-bottom: 23px;
}

.main-dish_li {
  height: 40px;
  font-size: 19px;
  padding-left: 15px;
  width: 100%;
}

.main-dish_li:hover {
  border-radius: 6px;
  background-color: #ADD8E6;
}

.main-dish {
  text-decoration: none;
  color: #222222;
  display: block;
  line-height: 40px;
}




