.index-wrapper {
  display: flex;
  height: 100vh;
  background-color: #EEEEEE;
}

.index-sidebar {
  width: 200px;
  padding: 40px 0 0 50px;
}

.sidebar-genre-wrapper {
  margin-top: 30px;
}

.sidebar-genre_li {
  font-size: 100%;
  margin-bottom: 25px;
  border-bottom: 1px solid ;
  padding-bottom: 5px;
}

.sidebar-genre {
  text-decoration: none;
  color: #222222;
}

.index-main {
  width: 500px;
  padding: 60px 0 0 120px;
}

.main-genre {
  display: flex;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.dishes-count {
  font-size: 25px;
  margin: 5px 0 0 50px;
  font-weight: 500;
}

.main-dish_li {
  font-size: 20px;
  margin-bottom: 25px;
}

.main-dish {
  text-decoration: none;
  color: #222222;
}

.index-show {
  width: calc(100vw - 800px);
  padding: 60px 0 0 80px;
}

.show-dish-name {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.show-dish-url-wrapper {
  font-size: 18px;
}

.show-memo-wrapper {
  height: 500px;
  width: 500px;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}