.new-dish-main {
  width: 100%;
  padding-top: 50px;
}

.new-dish-form {
  width: 500px;
  margin: 0 auto;
}

.new-dish-headline {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.form-wrapper {
  margin-bottom: 20px;
}

.weight-bold-text {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
}

.dish-name {
  height: 50px;
  width: 100%;
  font-size: 16px;
  padding: 12px 10px 10px 10px;
  resize: none;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.dish-url {
  height: 50px;
  width: 100%;
  font-size: 15px;
  padding: 12px 10px 10px 10px;
  resize: none;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.select-box {
  height: 45px;
  width: 100%;
  padding-left: 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.visit-genre-new-page {
  font-size: 17px;
  text-decoration: none;
}

.visit-genre-new-page:hover {
  text-decoration: underline;
}

.dish-save {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.dish-save-btn {
  height: 50px;
  width: 100%;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #33CCFF;
  border: 1px solid #33CCFF;
  cursor: pointer;
}

.dish-save-btn:hover {
  opacity: 0.8;
}

.dish-delete {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 130px;
}

.dish-delete-btn {
  height: 50px;
  width: 100%;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: #FF3300;
  border: 1px solid #FF3300;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}

.dish-delete-btn:hover {
  opacity: 0.7;
}
