.index-sidebar {
  height: 100%;
  width: 240px;
  min-width: 240px;
  padding-top: 40px;
  padding-bottom: 50px;
  overflow-y: auto;
  background-color: white;
}

.visit-genre-index {
  text-decoration: none;
  color: #222222;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 9px 8px;
  background-color: #eee;
  margin-left: 40px;
}

.visit-genre-index:hover {
  border: 1px solid #aaa;
  background-color: #ddd;
}

.sidebar-genre-wrapper {
  margin: 30px 25px 0 25px;
}

.genre-border {
  /* border-bottom: 1px solid #ccc ;  */
  margin-bottom: 15px;
}

.sidebar-genre_li {
  height: 36px;
  width: 100%;
  padding-left: 10px;
}

.sidebar-genre_li:hover {
  border-radius: 6px;
  background-color: #ADD8E6;
}

.sidebar-genre {
  text-decoration: none;
  color: #222222;
  display: block;
  line-height: 36px;
}

