.genre-index-wrapper {
  width: 100%;
  min-width: 800px;
  height: 100%;
  padding-top: 50px;
}

.genre-index-headline {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #222222;
}

.genre-index-content {
  margin: 0 auto;
  width: 340px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin-bottom: 30px;
}

.genres_icon {
  display: flex;
}

.genre-edit-icon  {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.genre-delete-icon {
  height: 25px;
  width: 25px;
}