.genre-index-wrapper {
  width: 100%;
  min-width: 800px;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 80px;
}

.genre-index-top {
  margin: 0 auto;
  width: 340px;
  margin-bottom: 40px;
  text-align: center;
}

.genre-index-headline {
  font-size: 27px;
  font-weight: bold;
  color: #222222;
  margin-bottom: 15px;
}

.genre-index-add {
  font-size: 18px;
  color: #222222;
  text-decoration: none;
  border: 1px solid #222222;
  border-radius: 4px;
  padding: 8px 10px;
}

.genre-index-content {
  margin: 0 auto;
  width: 340px;
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  margin-bottom: 30px;
}

.genres_icon {
  display: flex;
}

.genre-edit-icon  {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.genre-delete-icon {
  height: 25px;
  width: 25px;
}