.genre-index-wrapper {
  width: 100%;
  min-width: 800px;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 80px;
}

.genre-index-top {
  text-align: center;
  margin-bottom: 50px;
}

.genre-index-headline {
  font-size: 27px;
  font-weight: bold;
  color: #222222;
  margin-bottom: 20px;
}

.genre-index-add_link {
  font-size: 16px;
  color: #222222;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 11px;
}

.genre-index-add_link:hover {
  border: 1px solid #aaa;
  background-color: #ddd;
}

.genre-index-content {
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.genre-index_li {
  margin-left: 10px;
  font-size: 23px;
}

.genres_icon {
  display: flex;
}

.genre-edit-icon  {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-top: 3px;
}

.genre-delete-icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}