.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-blue-btn {
  width: 100%;
  background: #87CEEB;
  border: 1px solid #87CEEB;
  color: #fff;
  line-height: 48px;
  font-size: 16px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
  font-size: 18px;
}
